@use "modern-normalize";
@use "reset";

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}

.sidebar {
  background-color: rgba(111, 186, 236, 0.549);
  &__title {
    text-align: center;
  }
}
